body {
    font-family: Tahoma;
}

.site-header {
    height: 210px;
}

.site-header .wrapper .site-title {
    position: relative;
    top: 25px;
    left: 100px;
    font-size: 3em;
}
.site-header .wrapper .site-title:before {
    content: "";
    background-image: url(../content-images/newtork050.png);
    width: 400px;
    height: 400px;
    position: absolute;
    left: -210px;
    top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.page-content {
	position:relative;
}

/*
 * comments
 */
 
#isso-thread:before {
    content: "";
    border-top: 1px solid #e8e8e8;
    width: 100%;
    display: block;
    margin: 1em 0;
}
#isso-thread > h4 {
    text-transform: lowercase;
}
#isso-thread > h4:first-letter {
    text-transform: capitalize;
}
#isso-thread .authg-section .input-wrapper {
    padding: 0.2em 0.3em;
}