body {
    font-family: Tahoma;
}

.site-header {
    height: 210px;
}

.site-header .wrapper .site-title {
    position: relative;
    top: 25px;
    left: 100px;
    font-size: 3em;
}
.site-header .wrapper .site-title:before {
    content: "";
    background-image: url(../content-images/newtork050.png);
    width: 400px;
    height: 400px;
    position: absolute;
    left: -210px;
    top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.page-content {
	position:relative;
}


/*
 * additional margin to improve readability
 */
 
.page-content .post-content h2,
.page-content .post-content h3,
.page-content .post-content h4,
.page-content .post-content h5 {
	margin-top:1.5em;
}


.page-content .post-content li {
	margin-bottom:1em;
}

.page-content .post-content li > div {
    margin-top: 0.8em;
}

.page-content .post-content li > ul {
    padding-bottom: 0.8em;
}

/*
 * hints
 */
 
.page-content .post-content div.hint {
	background: url(/content-images/note-bulb.png) no-repeat scroll left center transparent;
	color: black;
	padding: 10px 10px 10px 35px;
	margin: 1.5em 0;
	background-color: #F2F2F2;
	border:1px solid grey;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.page-content .post-content div.hint:hover {
	background-image:url(/content-images/note-bulb-lid.png);
}

/*
 * comments
 */
 
#isso-thread:before {
    content: "";
    border-top: 1px solid #e8e8e8;
    width: 100%;
    display: block;
    margin: 1em 0;
}
#isso-thread .auth-section .input-wrapper {
    padding: 0.2em 0.3em;
}


/*
 * special table definition
 */

.page-content .post-content table {
	margin: 2em 0px;
    border: 1px solid #ccc;
    font-size: 0.8em;
}
.page-content .post-content table th {
    border-bottom: 1px solid #ccc;
}

.page-content .post-content span[title] {
	border-bottom: 1px dotted #555;
    line-height: 1em;
}
.page-content .post-content span[title]:hover {
	border-bottom: 1px solid #555;
}

/*
 * tag cloud
 */
 
.page-content .post-meta span {
	display:inline-block;
}


