body {
    font-family: Tahoma;
}

.site-header {
    height: 210px;
}

.site-header .wrapper .site-title {
    position: relative;
    top: 25px;
    left: 100px;
    font-size: 3em;
}
.site-header .wrapper .site-title:before {
    content: "";
    background-image: url(../content-images/newtork050.png);
    width: 400px;
    height: 400px;
    position: absolute;
    left: -210px;
    top: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.page-content {
	position:relative;
}

.page-content .post-content code.highlighter-rouge {
	white-space: nowrap;
}


/*
 * additional margin to improve readability
 */
 
.page-content .post-content h2,
.page-content .post-content h3,
.page-content .post-content h4,
.page-content .post-content h5 {
	margin-top:1.5em;
}


.page-content .post-content li:last-child {
	margin-bottom:1em;
}

.page-content .post-content li > div {
    margin-top: 0.8em;
}

.page-content .post-content li > ol,
.page-content .post-content li > ul {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.page-content .post-content ol + p,
.page-content .post-content ul + p {
    margin-top:2em;
}

/*
 * hints
 */
 
.page-content .post-content div.hint {
	background: url(/content-images/note-bulb.png) no-repeat scroll left center transparent;
	color: black;
	padding: 10px 10px 10px 35px;
	margin: 1.5em 0;
	background-color: #F2F2F2;
	border:1px solid grey;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.page-content .post-content div.hint:hover {
	background-image:url(/content-images/note-bulb-lid.png);
}

/*
 * comments
 */
 
#isso-thread:before {
    content: "";
    border-top: 1px solid #e8e8e8;
    width: 100%;
    display: block;
    margin: 1em 0;
}
#isso-thread .auth-section .input-wrapper {
    padding: 0.2em 0.3em;
}


/*
 * special table definition
 */

.page-content .post-content > table {
	margin: 2em 0px;
    border: 1px solid #ccc;
    font-size: 0.8em;
}
.page-content .post-content > table th {
    border-bottom: 1px solid #ccc;
}

.page-content .post-content span[title] {
	border-bottom: 1px dotted #555;
    line-height: 1em;
}
.page-content .post-content span[title]:hover {
	border-bottom: 1px solid #555;
}


/*
 * custom code
 */
 
.page-content .post-content ul + div.highlighter-rouge,
.page-content .post-content ul + section.shell + div.highlighter-rouge,
.page-content .post-content ol + div.highlighter-rouge,
.page-content .post-content ol + section.shell + div.highlighter-rouge,
.page-content .post-content ul + div.gist,
.page-content .post-content ol + div.gist,
.page-content .post-content ul + noscript ~ div.gist,
.page-content .post-content ol + noscript ~ div.gist,
.page-content .post-content ul + script ~ div.gist,
.page-content .post-content ol + script ~ div.gist {
	margin-left:2em;
}

.page-content .post-content ul + p > img,
.page-content .post-content ol + p > img {
	margin-left:2em;
}

.page-content .post-content section.shell + div.highlighter-rouge {
	position:relative;
}
.page-content .post-content section.shell + div.highlighter-rouge:hover:before {
	opacity: 1;
}
.page-content .post-content section.shell + div.highlighter-rouge > .highlight {
	border-color:#ccc;
}


.page-content .post-content section.shell + div.highlighter-rouge:before {
    content: '';
    display: block;
    float: left;
    width: 1.5em;
    margin: 1px 0;
    font-size: 15px;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    top: 0;
    background-position: left top;
    outline: 1px solid #ccc;
    opacity: 0.5;
    border: 0.55em solid #f4f4f4;
    border-left-width: 0;
    border-right-width: 0;
	background-color: #f4f4f4;
}


.page-content .post-content section.shell + div.highlighter-rouge > pre.highlight {
	padding: 0.5em 0.7em;
	margin-left: 1.5em;
}


.page-content .post-content section.shell.notequal + div.highlighter-rouge:before,
.page-content .post-content section.shell.equal + div.highlighter-rouge:before,
.page-content .post-content section.shell.output + div.highlighter-rouge:before ,
.page-content .post-content section.shell.input + div.highlighter-rouge:before,
.page-content .post-content section.shell.add + div.highlighter-rouge:before,
.page-content .post-content section.shell.remove + div.highlighter-rouge:before {
	background-repeat: no-repeat;
}


.page-content .post-content section.shell.user + div.highlighter-rouge:before {
    background-image: url(/images-layout/syntax-dollar.png);
	background-color: #f4f4f4;
	background-size: 1.5em;
}
.page-content .post-content section.shell.root + div.highlighter-rouge:before {
    background-image: url(/images-layout/syntax-hash.png);
	background-color: #f4f4f4;
	background-size: 1.5em;
}

.page-content .post-content section.shell.user.output + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-dollar-bg.png) no-repeat, url(/images-layout/syntax-quote.png) #f4f4f4 repeat-y;
	background-size: 1.5em;
}
.page-content .post-content section.shell.root.output + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-hash-bg.png) no-repeat, url(/images-layout/syntax-quote.png) #f4f4f4 repeat-y;
	background-size: 1.5em;
}

.page-content .post-content section.shell.user.input + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-dollar-bg.png) no-repeat, url(/images-layout/syntax-plus.png) #f4f4f4 repeat-y;
	background-size: 1.5em;
}
.page-content .post-content section.shell.root.input + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-hash-bg.png) no-repeat, url(/images-layout/syntax-plus.png) #f4f4f4 repeat-y;
	background-size: 1.5em;
}

.page-content .post-content section.shell.user.replace + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-dollar-bg.png) no-repeat, url(/images-layout/syntax-minus.png) no-repeat, url(/images-layout/syntax-plus.png) no-repeat;
    background-size: 1.5em;
	background-color: #f4f4f4;
    background-position-y: top, 1.5em, 3em;
}
.page-content .post-content section.shell.root.replace + div.highlighter-rouge:before {
    background: url(/images-layout/syntax-hash-bg.png) no-repeat, url(/images-layout/syntax-minus.png) no-repeat, url(/images-layout/syntax-plus.png) no-repeat;
    background-size: 1.5em;
	background-color: #f4f4f4;
    background-position-y: top, 1.5em, 3em;
}

.page-content .post-content section.shell.one + div.highlighter-rouge:before {
    background-repeat: no-repeat;
}

.page-content .post-content section.shell.scroll + div.highlighter-rouge:before {
    border-bottom-width: 1.55em;
}

/*
 * tag cloudfg
 */
 
.page-content .post-meta span {
	display:inline-block;
}

/*
 * custom enumeration
 */
.page-content .post-content h1,
.page-content .post-content h2,
.page-content .post-content h3,
.page-content .post-content h4,
.page-content .post-content h5 {
	counter-reset: listcount;
}
.page-content .post-content ol {
	list-style-type: none;
	position:relative;	
}
.page-content .post-content ol > li {
}
.page-content .post-content ol > li:before {
    counter-increment: listcount;
    content: counter(listcount) ".";
    position: absolute;
    left: -2.6em;
    text-align: right;
    width: 2em;
}

/*
 * gist code
 */

.page-content .post-content .gist > .gist-file .gist-meta:last-of-type {
	color:transparent;
    opacity: 0.2;
}
.page-content .post-content .gist:hover > .gist-file .gist-meta:last-of-type {
	opacity: 1;
}
.page-content .post-content .gist > .gist-file .gist-meta:last-of-type > * {
	display:none;
}
.page-content .post-content .gist > .gist-file .gist-meta:last-of-type > a:first-of-type,
.page-content .post-content .gist > .gist-file .gist-meta:last-of-type > a:nth-of-type(2) {
	display:inline;
    font-weight: normal;
}
