---
layout: default
---

<div class="home">

{% assign categories = [howto] %}

{% for c in categories %}
  {% if site.meta_categories %}
	{% for cat in site.meta_categories %}
	  {% if cat.slug == c %}

<span title="{{ cat.description }}">
	<a href="{{ site.baseurl }}/category/{{ cat | slugize }}/" class="cat">{{ cat.name }}</a>
</span>

	  {% endif %}
	{% endfor %}
  {% endif %}
{% endfor %}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
